.creator {
  width: 100%;
}
.creator-contents {
  @include text-container;
}
.creator-heading {
  margin-bottom: 1em;
}
.creator-task {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
.recipients {
  margin-bottom: 2.5em;
}
.new-task h2 {
  margin-bottom: 0;
}
.delete {
  width: 1.5em;
  height: 1.5em;
}
.task-header {
  display: flex;
}
.task-header h2 {
  margin-right: .5em;
}
.delete:hover {
  cursor: pointer;
}