.dashboard {
  height: 100%;
  width: 100%;
}
.dashboard-contents {
  @include text-container;  
}
.header {
  margin-left: 0.5em;
  margin-bottom: 2.5em;
}
.site-header {
  color: #2E2E2E;
  font-family: 'Abril Fatface', serif;
  font-size: 6em;
  letter-spacing: 0.05em;
}
.header h1 {
  margin-bottom: 0.15em;
}
.header p {
  font-style: italic;
  font-size: 1.15em;
}
.scav-hunt-summary {
  margin-bottom: 1.5em;
}
.scav-hunts {
  margin-bottom: 2em;
}
.new-scav-hunt {
  height: 15%;
  margin-bottom: 4em;
}