.landing-wrapper {
  height: 100%;
  width: 100%;
  color: white;    
  background-color: $highlight-bg;  
}
.landing-wrapper h1 {
  font-size: 2.5em;
}
.landing-nav {
  padding: 1.5em;
  height: 10vh;
  box-sizing: border-box;
}
.landing {
  height: calc(100% - 10vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-content {
  width: 65%;
  height: 70%;
  border-radius: 3px;
}
.landing h1 {
  font-size: 4.5em;
  margin-bottom: 0.15em;
}
.landing img {
  margin-left: -1.5em;
  margin-bottom: 1em;
  max-width: 300px;
  max-height: auto;
}