.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-left: 1.75em;
}

.dashboard-contents {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background-color: #FFF;
  width: 100%;
  padding: 2em;
}

.scav-hunts {
  height: 50%;  
}

.new-scav-hunt {
  height: 15%;
}