@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700');

body, #root {
  width: 100%;
  height: 100vh;
  background-color: #EEE;  
  color: #424242;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #424242;
  font-style: italic;  
}